/* Navbar Styles */
nav {
    background-color: #126945;
    padding: 15px 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: #c2d973;
    text-decoration-thickness: 2px;
}
